
.project-container{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

  .project-title{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-content: center;  
}

  .project-pic{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    border-radius: 10px;
  }


  .proj-link{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 100px;
  }
  .recents{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
  }
  .projects{
    display: flex;
    margin-left: 37%;
    height: 100vh;
    flex-flow: column;
  }