/* body{
  border-right: 5px solid rgb(56, 173, 56);
  border-left: 5px solid rgb(184, 62, 62);
  border-top:5px solid rgb(62, 100, 182);
  border-bottom: 5px solid rgb(215, 218, 58);

} */

html{
  overflow-wrap: break-word;

}
.resume-home{
  color: white;
  text-decoration: white;
}
.ham-container{
  position: fixed;
  left: 92%;
  top: 2%;
}
.hamburger-modal{
  display: flex;
  height: 300px;
  justify-content: space-between;
  flex-flow: column;

  background-color:#12324F;

}
.hamburger-modal-container{
  color: white;
  font-size:20px;
  display: flex;
  flex-flow: column;
  cursor: pointer;


}
.hamburger-modal-container a{
border: #ffffff solid 2px;
margin-top: 50%;
text-align: center;
height: 35px;

}
.front-name{
  color: #0c2c4f;
  font-family: "dankduck";
}

.name-image{
  margin-top: -30%;
  width: 85%;
  height: 56%;
}
.about-desc{
  margin-top: -10%;
}
@media only screen and (max-width: 1024px) and (max-height: 1400px) {
  .name-image {
    margin-top: -120%;
  
}
.about-desc {
  margin-top: -30%;
}




}



















@media only screen and (max-width: 900px) {
  .contact-text h1{
    color: #0B2B4F;
    font-size:11px;
    margin-bottom: 0px;
}
.ham-container{
  left: 89%;
  top: .5%;
}
.about-text{
width: 100%;
}

.contact-text h2{
  color: #0B2B4F;
  font-size:20px;
  margin-bottom: 0px;
}
.contact-text p{
  font-size:10px;
  margin-bottom: 0px;

}

.active-link{
cursor: pointer;
font-size: 15px;
text-decoration: none ;
}

.contact-text{
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow-wrap: break-word;


}
.social-media{
  margin: 0px !important;
  margin-top: 20px !important;
}

.resume-pdf{
  width: 100%;
  height: 100vh;
}
}













@media only screen and (max-width: 450px) {
  .contact-text h1{
    color: #0B2B4F;
    font-size:11px;
    margin-bottom: 0px;
}
.contact-text h2{
color: #0B2B4F;
font-size:22px !important;
margin-bottom: 10px !important;
}
.contact-text p{
font-size:10px !important;
margin-bottom: 0px;

}
  .ham-container{
    left: 77%;
    top: .7%;
  }
  .about-text{
    font-size: 17px !important;
    width: 90% !important;
  }
  .about-desc{
    text-align: center;
  }
  .name-image{
    height: 30%;
    width: 100%;
  }
 
  .recents{
    margin-top: 80px !important;
    font-size: 35px !important;
  }
  .projects{
    margin-left: 40% !important;
  }
  .project-container{
    height: 75vh !important;
  }
  .contact-section{
    margin-left: 35%;
  }
  .form-container{
    width: 100% !important;
  }
  .form-container h4{
    text-align: center;
  }
  .nav-bar{
    flex-flow: column !important;

  }


  .contact-text h1{
    color: #0B2B4F;
    font-size:11px;
    margin-bottom: 0px;
}
.contact-text h2{
  color: #0B2B4F;
  font-size:20px;
  margin-bottom: 0px;
}
.contact-text p{
  font-size:10px;
  margin-bottom: 0px;

}

.active-link{
cursor: pointer;
font-size: 15px;
text-decoration: none ;
}

.contact-text{
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow-wrap: break-word;


}
.social-media{
  margin: 0px !important;
  margin-top: 20px !important;
}
.resume-pdf{
  width: 100%;
  height: 100vh;
}
  }












  @media only screen and (max-width: 375px) {

    .name-image{
      margin-top: 0px ;
    }
    .contact-text h1{
      color: #0B2B4F;
      font-size:11px;
      margin-bottom: 0px;
  }
.contact-text h2{
  color: #0B2B4F;
  font-size:20px;
  margin-bottom: 0px;
}
.contact-text p{
  font-size:10px;
  margin-bottom: 0px;

}

.active-link{
cursor: pointer;
font-size: 15px;
text-decoration: none ;
}

.contact-text{
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow-wrap: break-word;


}
.social-media{
  margin: 0px !important;
  margin-top: 20px !important;
}
.resume-pdf{
  width: 100%;
  height: 100vh;
}
  }













  @media only screen and (max-width: 375px) and (max-height: 812px) {

    .name-image{
      margin-top: -30%;    
    }
.contact-text h1{
      color: #0B2B4F;
      font-size:11px;
      margin-bottom: 0px;
  }
.contact-text h2{
  color: #0B2B4F;
  font-size:22px !important;
  margin-bottom: 10px !important;
}
.contact-text p{
  font-size:10px !important;
  margin-bottom: 0px;

}

.active-link{
cursor: pointer;
font-size: 15px;
text-decoration: none ;
}

.contact-text{
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow-wrap: break-word;


}
.social-media{
  margin: 0px !important;
  margin-top: 20px !important;
}
.resume-pdf{
  width: 100%;
  height: 100vh;
}
  }
