/* body{
  border-right: 5px solid rgb(56, 173, 56);
  border-left: 5px solid rgb(184, 62, 62);
  border-top:5px solid rgb(62, 100, 182);
  border-bottom: 5px solid rgb(215, 218, 58);

} */

.ham-container{
  position: fixed;
  left: 92%;
  top: 2%;
}
.hamburger-modal{
  height: 300px;
  background-color: rgb(108, 108, 216);

}
.front-name{
  color: #0c2c4f;
  font-family: "dankduck";
}

.name-image{
  margin-top: -30%;
  width: 85%;
  height: 56%;
}
.about-desc{
  margin-top: -10%;
}