/* body{
  border-right: 5px solid rgb(56, 173, 56);
  border-left: 5px solid rgb(184, 62, 62);
  border-top:5px solid rgb(62, 100, 182);
  border-bottom: 5px solid rgb(215, 218, 58);

} */

.ham-container{
  position: fixed;
  left: 92%;
  top: 2%;
}
.hamburger-modal{
  display: flex;
  height: 300px;
  justify-content: space-between;
  flex-flow: column;

  background-color:#12324F;

}
.hamburger-modal-container{
  color: white;
  font-size:20px;
  display: flex;
  flex-flow: column;
  cursor: pointer;


}
.hamburger-modal-container a{
border: #ffffff solid 2px;
margin-top: 50%;
text-align: center;
height: 35px;

}
.front-name{
  color: #0c2c4f;
  font-family: "dankduck";
}

.name-image{
  margin-top: -30%;
  width: 85%;
  height: 56%;
}
.about-desc{
  margin-top: -10%;
}


@media only screen and (max-width: 900px) {
.ham-container{
  left: 89%;
  top: .5%;
}
.about-text{
width: 100%;
}
}

@media only screen and (max-width: 450px) {
  .ham-container{
    left: 82%;
    top: .5%;
  }
  .about-text{
    font-size: 17px !important;
    width: 90% !important;
  }
  .about-desc{
    text-align: center;
  }
  .name-image{
    height: 30%;
    width: 100%;
  }
  .profile-pic{
    width: 40% !important;
  }
  .recents{
    margin-top: 80px !important;
    font-size: 35px !important;
  }
  .projects{
    margin-left: 40% !important;
  }
  .project-container{
    height: 75vh !important;
  }
  .contact-section{
    margin-left: 35%;
  }
  .form-container{
    width: 100% !important;
  }
  .form-container h4{
    text-align: center;
  }
  }